@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $black;

body {
  background-color: $body-bg-color;
  // margin-top: 10px;
  // margin-left: 15px;
}
header {
  margin-top: 10px;
  margin-left: 12px;
}

 #entry-view {
   margin-left: 12px;
 }

#hide-entries , #refresh-entries {
display:inline-block;
/* additional code */
}

// .btn {
//   display: inline-block;
//   padding: 6px 12px;
//   margin-bottom: 0;
//   font-size: 14px;
//   font-weight: normal;
//   line-height: 1.42857143;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   cursor: pointer;
//   -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;
//   background-image: none;
//   border: 1px solid transparent;
//   border-radius: 4px;
//   padding: 10px 16px;
// }
//
// .btn-lg {
//   font-size: 18px;
//   line-height: 1.33;
//   border-radius: 6px;
// }
//
// .btn-primary {
//   color: #fff;
//   background-color: #428bca;
//   border-color: #357ebd;
// }
//
// .btn-primary:hover,
// .btn-primary:focus,
// .btn-primary:active,
// .btn-primary.active,
// .open .dropdown-toggle.btn-primary {
//   color: #fff;
//   background-color: #3276b1;
//   border-color: #285e8e;
// }
//
// /***********************
//   RAISED BUTTONS
// ************************/
// .btn-primary.raised {
//   box-shadow: 0 3px 0 0 #007299;
// }
// .btn-primary.raised:active, .btn-primary.raised.active {
//   background: #33a6cc;
//   box-shadow: none;
//   margin-bottom: -3px;
//   margin-top: 3px;
// }

// h1 {
// font-family: ;
// }
h1 { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 35.2px; }
